# Code Owners for TrAIn Web

# Frontend team
@iagop03

# Modules
/src/app/core/ @iagop03
/src/app/shared/ @iagop03
/src/app/features/workouts/ @iagop03
/src/app/features/auth/ @iagop03
/src/app/features/dashboard/ @iagop03

# Styling
/src/styles/ @iagop03
/src/assets/ @iagop03

# Configuration
angular.json @iagop03
tsconfig.json @iagop03
